@mixin btn_shadow {
    box-shadow: 5px 5px 10px #C0C0C0;
}

@mixin btn_gradient {
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

@mixin display_sous_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}